.product-swiper {
  width: 100%;
  position: relative;
}

/* دکمه‌های navigation */
.custom-prev,
.custom-next {
  transition: all 0.3s ease;
}

.custom-next {
  top: -30px;
  right: 0;
}

.custom-prev {
  top: -30px;
  right: 40px;
}

.custom-prev:hover,
.custom-next:hover {
  transform: scale(1.1);
}

/* pagination dots */
.swiper-pagination {
  bottom: 0 !important;
  
}

.swiper-pagination-bullet {
  background-color: #ddd !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ef4444 !important; /* قرمز */
}
