@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-defaultBg: #f8f9fa;
  --color-primary: #e63946;
  --color-secendary: #2b2d42;
  --color-accent: #08bdbd;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  scrollbar-width: thin; 
  scrollbar-color: #b5b5b5 #e8e8e8;
}

:not(i) {
  font-family: var(--font-poppins), sans-serif;
}

body {
  font-size: 15px;
}

.ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

::-webkit-scrollbar {
  width: 8px; /* ضخامت */
}

::-webkit-scrollbar-track {
  background: #e8e8e8; /* رنگ زمینه اسکرول‌بار */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b5b5b5; /* رنگ خود نوار اسکرول */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* افکت هنگام هاور روی اسکرول */
::-webkit-scrollbar-thumb:hover {
  background-color: #9f9f9f;
}

.text-shadow {
  text-shadow: 0px 0px 20px #000000;
}

.box-shadow-xl {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-shadow-lg {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-shadow-md {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 24px;
}

.box-shadow-sm {
  box-shadow: rgba(99, 99, 99, 0.15) 0px 0px 10px 1px;
}


@media only screen and (max-width: 576px) {
  /* mobile */
}

@media only screen and (min-width: 576px) {
  /* tablets */
}

@media only screen and (min-width: 768px) {
  /* laptop */
}

@media only screen and (min-width: 1024px) {
  /* laptop L */
}

@media only screen and (min-width: 1200px) {
  /* BIG screens */
}
